body {
  margin: 0;
  background-color: #565656;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 3px;
  color: rgb(7, 75, 50);
  margin: 40px 0;
}

.plant-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 100px 0;
}

.plant-section.left .plant-container {
  flex-direction: row;
}

.plant-section.right .plant-container {
  flex-direction: row-reverse;
}

.plant-container {
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
}

.plant-toggle {
  display: none;
}

.plant-label {
  display: inline-block;
  cursor: pointer;
}

.plant-img {
  width: 700px;
  border-radius: 10px;
  filter: grayscale(100%);
  transition: all 0.5s ease;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(8deg); }
  50% { transform: rotate(-8deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

.plant-text {
  max-width: 300px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
  color: #03301a;
}

/* CLICK interaction using checkbox so it registers the image as something to click, although i can do this in js too like cat example */
.plant-toggle:checked + .plant-label .plant-img {
  filter: grayscale(0%) saturate(120%);
  animation: shake 0.6s ease;
}

.plant-toggle:checked , .plant-label , .plant-text {
  opacity: 1;
  transform: translateY(0);
}

.plant-section.left .plant-text {
  text-align: left;
}

.plant-section.right .plant-text {
  text-align: right;
}

